<form action="/bet_amount" method="post">

  <h4>Please enter the amount you want to bet on this round out of $<%= session[:total_amount] %></h4>

  <input type="text" name="bet_amount" />
  <br />

  <input type="submit" class="btn" />
</form>