

<form action="/player_name_amount_form" method="post">

  <h4>Please enter your name</h4>

  <input type="text" name="player_name" />
  <br />

  <h4>Please enter the $$ amount you are bringing to the table</h4>

  <input type="text" name="total_amount" />
  <br />

  <input type="submit" class="btn" />
</form>